/zentag
*.exe
*.test
coverage.out
cover.html
/dist/
/zentag.yaml
*.m4b
*.m4a
*.mp3
*.flac
# but keep committed test fixtures
!core/mp3tag/testdata/*.mp3
.vscode/
.idea/
Thumbs.db
Desktop.ini
.DS_Store
